apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "tofu-controller.labels" . | nindent 4 }}
    {{- with .Values.deploymentLabels }}
    {{ toYaml . | nindent 4 }}
    {{- end }}
  name: {{ include "tofu-controller.fullname" . }}
  namespace: {{ .Release.Namespace }}

spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "tofu-controller.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- with .Values.podLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- include "tofu-controller.selectorLabels" . | nindent 8 }}
    spec:
      automountServiceAccountToken: true
      {{- if not .Values.serviceAccount.create }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      containers:
      - args:
        - --allow-cross-namespace-refs={{ .Values.allowCrossNamespaceRefs }}
        - --watch-all-namespaces={{ .Values.watchAllNamespaces }}
        - --log-level={{ .Values.logLevel }}
        - --log-encoding={{ .Values.logEncoding }}
        - --enable-leader-election
        - --concurrent={{ .Values.concurrency }}
        - --ca-cert-validity-duration={{ .Values.caCertValidityDuration }}
        - --cert-rotation-check-frequency={{ .Values.certRotationCheckFrequency }}
        - --cert-validity-duration={{ .Values.certValidityDuration }}
        - --runner-creation-timeout={{ .Values.runner.creationTimeout }}
        - --runner-grpc-max-message-size={{ .Values.runner.grpc.maxMessageSize }}
        - --events-addr={{ .Values.eventsAddress }}
        - --kube-api-qps={{ .Values.kubeAPIQPS }}
        - --kube-api-burst={{ .Values.kubeAPIBurst }}
        - --allow-break-the-glass={{ .Values.allowBreakTheGlass }}
        - --cluster-domain={{ .Values.clusterDomain }}
        - --use-pod-subdomain-resolution={{ .Values.usePodSubdomainResolution }}
        - --use-priority-queue={{ .Values.usePriorityQueue }}
        - --graceful-shutdown-timeout={{ max (int 0) (int (sub .Values.terminationGracePeriodSeconds 10)) }}s
        env:
          {{- include "pod-namespace" . | indent 8 }}
        - name: RUNNER_POD_IMAGE
          value: "{{ .Values.runner.image.repository }}:{{ default .Chart.AppVersion .Values.runner.image.tag }}"
        {{- range $key, $value := .Values.extraEnv }}
        - name: {{ $key | quote }}
          value: {{ $value | quote }}
        {{- end }}
        image: "{{ .Values.image.repository }}:{{ default .Chart.AppVersion .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: healthz
        name: {{ .Chart.Name }}
        ports:
        - containerPort: 8080
          name: http-prom
        - containerPort: 9440
          name: healthz
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: healthz
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 10 }}
        {{- with .Values.volumeMounts }}
        volumeMounts:
          {{- toYaml . | nindent 10 }}
        {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "tofu-controller.serviceAccountName" . }}
      {{- with .Values.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ . }}
      {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
