{{ if .Values.awsPackage.install }}
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: aws-package
  namespace: {{ .Release.Namespace }}
  annotations:
    metadata.weave.works/description: "This is the AWS package containing primitive modules for flux-iac tofu-controller."
    metadata.weave.works/docs-url: "https://github.com/flux-iac/aws-primitive-modules"
spec:
  interval: 1h0m0s
  ref:
    tag: {{ .Values.awsPackage.tag }}
  url: oci://{{ .Values.awsPackage.repository }}
{{ end }}
