version: 2

updates:
  - package-ecosystem: "gomod"
    directory: "/"
    labels: ["area/ci", "dependencies"]
    schedule:
      interval: "daily"
    # Project maintainers and the Wild Watermelon team
    reviewers:
      - chanwit
      - Nalum
      - phoban01
      - tomhuang12
      - "weaveworks/wild-watermelon"
    groups:
      # Group all updates together, so that they are all applied in a single PR.
      # Grouped updates are currently in beta and is subject to change.
      # xref: https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#groups
      ci:
        patterns:
          - "*"
