site_name: FluxIaC GitOps Tofu Controller
theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - content.code.annotate
    - content.code.copy

repo_url: https://github.com/flux-iac/tofu-controller
repo_name: flux-iac/tofu-controller

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - Overview: 'index.md'
  - Getting Started: 'getting_started.md'
  - Use Tofu-Controller: 'use-tofu-controller/index.md'
  - Branch Planner:
    - User Guide: 'branch-planner/index.md'
    - Getting Started: 'branch-planner/branch-planner-getting-started.md'
    - Branch Planner and Terraform Cloud Integration: 'branch-planner/branch-planner-tfc-integration-getting-started.md'
  - API References: 'References/terraform.md'
  - CLI References: 'tfctl.md'
