name: docs 
on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - '.github/workflows/docs.yaml'
      - 'mkdocs.yml'

permissions:
  contents: read # for actions/checkout to fetch code

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4.0.0
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.x
      - name: Install mkdocs
        run: pip install mkdocs-material 
      - name: Generate docs artifacts
        run: mkdocs build -d /tmp/docs
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4.0.0
        with:
          ref: gh-pages
          path: gh-pages
      - name: Publish docs artifacts to gh-pages
        run: |
          cd gh-pages
          shopt -s extglob
          rm -rf !(index.yaml|LICENSE|*.tgz)
          cp -R /tmp/docs/** .
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "Publish docs from $GITHUB_SHA"
          git push https://github.com/$GITHUB_REPOSITORY.git gh-pages
