name: test
on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - "charts/**"
      - "docs/**"
      - "hack/**"
      - "logos/**"
      - "rfcs/**"
      - "tools/**"
      - "*.md"
  push:
    branches:
      - main

permissions:
  contents: read # for actions/checkout to fetch code

jobs:
  test-1x-2x:
    name: "Controller Tests: 10->29"
    uses: ./.github/workflows/targeted-test.yaml
    with:
      pattern: "^Test_0000[12]"
  test-3x-5x:
    name: "Controller Tests: 30->59"
    uses: ./.github/workflows/targeted-test.yaml
    with:
      pattern: "^Test_0000[345]"
  test-6x-9x:
    name: "Controller Tests: 60->99"
    uses: ./.github/workflows/targeted-test.yaml
    with:
      pattern: "^Test_0000[6789]"
  test-1xx:
    name: "Controller Tests: 1xx"
    uses: ./.github/workflows/targeted-test.yaml
    with:
      pattern: "^Test_0001"
  test-2xx:
    name: "Controller Tests: 2xx"
    uses: ./.github/workflows/targeted-test.yaml
    with:
      pattern: "^Test_0002"
  test-3xx:
    name: "Controller Tests: 3xx"
    uses: ./.github/workflows/targeted-test.yaml
    with:
      pattern: "^Test_0003"
  test-99xx:
    name: "Controller Tests: 99xx"
    uses: ./.github/workflows/targeted-test.yaml
    with:
      pattern: "^Test_0099"
  non-numbered:
    name: "Controller Tests: Non-numbered"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@9a9194f87191a7e9055e3e9b95b8cfb13023bb08 # v4.0.0
      - name: Setup Go
        uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          go-version-file: go.mod
          cache-dependency-path: |
            **/go.sum
            **/go.mod
      - name: Setup Terraform
        run: |
          export TF_VERSION=1.3.9
          wget https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip
          unzip -q terraform_${TF_VERSION}_linux_amd64.zip
          mv terraform $(which terraform)
          terraform --version
      - name: Setup Kustomize
        if: "!github.event.pull_request.head.repo.fork"
        uses: fluxcd/pkg/actions/kustomize@1bfad582060d2d6e464756fbd5d7a2b2fa4f75b9 # main
      - name: Run tests
        run: |
          make install-envtest
          make normal-controller-test
  internal:
    name: "Internal Tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@9a9194f87191a7e9055e3e9b95b8cfb13023bb08 # v4.0.0
      - name: Setup Go
        uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          go-version-file: go.mod
          cache-dependency-path: |
            **/go.sum
            **/go.mod
      - name: Setup Terraform
        run: |
          export TF_VERSION=1.3.9
          wget https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip
          unzip -q terraform_${TF_VERSION}_linux_amd64.zip
          mv terraform $(which terraform)
          terraform --version
      - name: Setup Kustomize
        if: "!github.event.pull_request.head.repo.fork"
        uses: fluxcd/pkg/actions/kustomize@1bfad582060d2d6e464756fbd5d7a2b2fa4f75b9 # main
      - name: Run tests
        run: |
          make install-envtest
          make test-internal
